body {
    margin: 0;
    overflow-y: hidden;
}

header {
    max-width: 100%;
    display: grid;
    position: relative;
    height: 240px;
    /* background-color: #f0f0f0; */
}

.logo {
    display: flex;
    justify-content: center;
}

#logo-profile {
    position: absolute;
    width: 200px;
    height: 280px;
    top: 50px;
}

session-name {
    background-color: white;
    display: grid;
    justify-content: center;
    grid: auto/auto auto;
    column-gap: 0px;
    padding-top: 50px;
}

.grid-profile {
    display: flex;
    text-align: center;
}

#name {
    color: #ffc7c7;
}

#surename {
    color: #9d9d9d;
}

.container.certificate-slide {
    padding-top: 0.1rem;
}

.container.slide-cer {
    width: 700px;
}

#sl-01 {
    width: 740px;
    height: 380px;
}

#cer-title {
    width: 400px;
}

#cer-detail {
    width: 400px;
    font-weight: lighter;
}

.col-sm-7.cer-block {
    padding-left: 7rem;
}

footer {
    display: grid;
    position: relative;
    height: 180px;
}
.row.r-footer{
    margin-top: -48px;
}
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.container.footer {
    text-align: center;
}

#logo-ft {
    margin-top: 36px;
    width: 30px;
    height: 30px;

}

#logo-fy {
    width: 60px;
    height: 60px;
}
/* iPad */
@media (max-width: 1040px) {

    html,
    body {
        max-width: 100%;
        overflow-x: hidden;
    }

    body {
        max-width: unset;
    }

    header {
        width: 102%;
        height: 200px;
    }

    session-name {
        padding-top: 90px;
    }
    .container.certificate-slide {
        padding-top: 4rem;
    }
    #sl-01 {
        width: 690px;
        height: 420px;
    }

    footer {
        height: auto;
        width: 102%;
    }
    .row.r-footer{
        margin-top: 10rem;
    }

}
/* mobile */
@media (max-width: 500px) {

    html,
    body {
        max-width: 100%;
        overflow-x: hidden;
    }

    #logo-profile {
        position: absolute;
        width: 150px;
        height: 214px;
        top: 20px;
    }

    session-name {
        padding-top: 10px;
    }

    #name {
        font-size: 20px;
    }

    #surename {
        font-size: 20px;
    }



    .container.slide-cer {
        width: auto;
    }

    #sl-01 {
        width: 250px;
        height: 220px;
        padding-left: 84px;
    }

    #cer-title {
        width: auto;
        text-align: center;
    }

    #cer-detail {
        width: auto;
        font-weight: lighter;
        text-align: center;
    }

    .col-sm-7.cer-block {
        padding-left: unset;
    }

}